* {
    padding:0;
    margin: 0;
    box-sizing: border-box;
}
body {
    overflow-x: hidden;
}
#heading {
    border-bottom: 1px solid rgb(216, 216, 216);
    height:50px;
}
/* LOGO */
#heading .logo-details {
    display: flex;
    align-items: center;
    justify-content: center;
}
#heading .logo-details i {
    font-size: 24px;
    min-width: 30px;
}
#heading .logo-details .logo-name {
    font-size: 18px;
    cursor: default;
}

/* HEADING ITEM */
.heading-items .heading-item {
    position: relative;
    text-decoration: none;
    color: black;
    overflow: hidden;
    opacity: 1;
}
.heading-items .heading-item:active {
    color: rgb(161, 161, 161);
}
.heading-items .heading-item::before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 2px;
    background: rgb(168, 168, 168);
    transform: translateX(-110%);
    transition: transform 0.5s ease;
}
.heading-items .heading-item:hover::before {
    transform: translateX(0%);
}

/* METAMASK */
#heading .meta-mask {
    display: flex;
    align-items:center;
}
#heading .meta-mask .meta-mask-btn {
    padding: 4px;
    transition: all 0.5s ease-out;
    border:1px solid rgb(211, 211, 211);
    color:rgb(115, 115, 115);
}
#heading .meta-mask .meta-mask-btn:hover, .meta-mask-btn:focus {
    background-color: #fff;
    color: #333;
    border:1px solid black;
}
#heading .meta-mask .meta-mask-btn:active {
    background-color:#333;
    color: #fff;
    transition: all 0.5s ease-in;
}
#heading .meta-mask img {
    width: 30px;
}
#heading .meta-mask .meta-mask-text {
    white-space: nowrap;
}


#heading .meta-mask i:active {
    color: rgb(161, 161, 161);
}

/* LANDING PAGE */
#landing-page {
    display: flex;
    align-items: center;
    /* padding: 100px; */
    height: 100vh;
    margin: 0 auto;
}

/* CONTENT */
#landing-page .content {
    display: flex;
    flex-direction: column;
    align-items: center;

}
#landing-page .content .content-right {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-height: 600px;
    max-width: 600px;
}
/* TITLE */
#landing-page .content .title {
    margin: 0 0 30px 0;
}

/* SUB-TITLE */
#landing-page .content .sub-title {
    margin: 0 0 50px 0;
}

/* LOCATION */
#landing-page .content .location-details {
    display: flex;
    align-items:center;
    justify-content:space-between;
    margin-bottom: 40px;
    max-width:350px;
}
#landing-page .content .location-details .location {
    display: flex;
    align-items:center;
    font-size:15px;
    letter-spacing:2px;
    color: #C8C6C6;
    white-space:nowrap;
}
#landing-page .content .location-details .status {
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size:16px;
    color: #C8C6C6;
    width:90px;
}

/* BUTTON DETAILS */
#landing-page .content .btn-details {
    display: flex;
    align-items: center;
    justify-content: space-around;
    max-width:  200px;
    height: 50px;
    transition: all 0.5s ease-out;
    border-radius:30px;
    border:1px solid rgb(211, 211, 211);
    color:rgb(115, 115, 115);
}


#landing-page .content .btn-details:hover, .btn-details:focus  {
    background-color: #fff;
    color: #333;
    border:1px solid black;
}
#landing-page .content .btn-details:active {
    background-color:#333;
    color: #fff;
    transition: all 0.5s ease-in;
}

/* CONTENT IMAGE */
#landing-page .content-img-container {
    display: flex;
    width: 100%;
}
#landing-page .content-img img {
    width: 500px;
    margin: 0 auto;
} 

/* DIAMOND DETAILS*/
#landing-page .diamond-details .sizing {
    margin:100px auto;
}
#landing-page .diamond-details .sizing .sizing-bar {
    background-color: gray;
}
#landing-page .diamond-details .sizing .sizing-bar ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: gray;

}
#landing-page .diamond-details .sizing .sizing-bar li {
    display: flex;
    list-style: none;
}
/* LANDING PAGE---2*/
#landing-page-2 .content-2 {
    margin: 0 auto;
    width: 100%;
    height: 100%;
}
#landing-page-2 .content-2 .content2-bg {
    position: relative;
    width: 100vw;
}
#landing-page-2 .content-2 .content2-bg img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
#landing-page-2 .content-2 .content2-details {
    position: absolute;
    top: 0;
}

